
<nav class="navbar navbar-expand-sm navbar-light " style="background-color: #09C6F9;" >
  <div class="container-fluid">
    {% if session.get('account') and get_account(session.get('account')).get_admin() == True %}
      <a class="navbar" onclick="openNav()"><img src="../static/img/menu.png" alt="hamburger_nav" style="width: 30px; height: 30px"></a>
    {% endif %}
    <a class="navbar-brand" href="#">
      <img src="../static/img/walrus-icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      SupplyWalrus
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-sm-6">
        <form>
          <input type="text" class="form-control" placeholder="Search">
        </form>
      </div>
    <div class=" justify-content-start" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/displayCart"><img src="../static/img/cart.png" alt="cart" style="width: 40px; height: 40px"></a>
        </li>
        <li class="nav-item dropdown pull-right">
        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
          <img src="static/img/navbarlogo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
        </a>

        <ul class="dropdown-menu">
          {% if session.get('account') %}
            <li><a class="dropdown-item" href="/profile">Account</a></li>
          {% else %}
            <li><a class="dropdown-item" href="/login_account">Login</a></li>
            <li><a class="dropdown-item" href="/create_account">Sign Up</a></li>
          {% endif %}
        </ul>
      </li>
      </ul>

    </div>
  </div>
</nav>

<script>
  /* Set the width of the side navigation to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>


