{% extends "base.html" %}
{% block title %}Suply Walrus - Home{% endblock %}

{% block content %}
<h1 class="display-4">Home</h1>
<table class="table table-striped">


    <tr>
        <td>Name</td>
        <td>Stock</td>
        <td>Price</td>
        <td> </td>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.get_name() }}</td>
        <td>{{ product.get_stock() }}</td>
        <td> ${{ product.get_price() }}</td>
        <td><a class="btn btn-info" href="/add_cart/{{product.get_product_id()}}" role="button"> Add to Cart </a></td>
        <td><a class="btn btn-warning" href="/add_wishlist/{{product.get_product_id()}}" role="button"> Add to Wishlsit </a></td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
