{% extends "base.html" %}
{% block title %}Supply Walrus - Cart Display{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="mt-5 p-5 shadow rounded container" style="width: 80vw;background-color:rgb(232, 241, 255)">
        <div class="row d-flex justify-content-center mb-3">
            <h1 class="display-4 text-center">About Us</h1>
            <h6 class="d-flex justify-content-center"> Fighting middle man prices like how we fight climate
                change. </h6>
            <a class="d-flex justify-content-center" href="/"><img src="static\img\walrus-icon.jpg" alt="walrus logo"
                                                                   style="width: 9vw;"></a>
        </div>
        <h2>What Do We Do?</h2>
        <div class="d-flex justify-content-centre">
            <div class="p-3">
                <p> Supply Walrus is dedicated to connecting suppliers and consumers directly. Cutting down and
                    eliminating the price that stores mark up. </p>
            </div>
            <div class="p-3">
                <p> Here at Supply Walrus, we want to ensure that consumers can avoid paying extra for stores that act
                    as
                    the middle man. By
                    connecting you directly to teh suppliers. You, the consumer, can save money and avoid exorbitant
                    store prices. </p>
            </div>
        </div>
        <h2> Our Values: </h2>
        <div class="d-flex justify-content-centre">
            <div class="p-3">
                <p> We believe in Fair Prices for All and that all things should remain afforable and easily accessibe
                    to
                    everyone, without people having to worry about added on store markups. </p>
            </div>
            <div class="p-3">
                <p> Like Climate Change and their threat against Walrus', stores marking up prices can be a threat to
                    our
                    shopping experience. Supply Walrus would like to fix this, one step at a time
                    One consumer at a time.
                    One partnered Supplier at a time. </p>
            </div>
        </div>
        <h2> Our Projects: </h2>
        <div class="d-flex justify-content-centre">
            <div class="p-3">
                <p>At Supply Walrus, we believe in helping our earth while we combat store markup prices. Did you know
                    stores markup an average of <span style="font-weight: bold">50%</span>?! </p>
            </div>
            <div class="p-3">
                <p> 20% of what we make, connecting you to our partnered suppliers, will go to a credible charity to
                    fight climate change. Charities include <span style="font-weight: bold">Cool Earth</span> and <span
                            style="font-weight: bold">Earth Justice</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}